body{
    background-color: #f4f4f4;
}
.container{
    display: flex;
    flex-direction: column;
}
.burger{
    margin-left: auto;
}
.Upper-image{
    width: 100%;
    align-self: center;
    height: 500px;
}
.layer{
    box-shadow: 2px 2px 2px black;
    /* border: thin; */
    z-index: 1;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 120px;
}
.inner{
    width: 20%;
    color:#682c0e;
    border-top: none;
    border-bottom: 2px solid #682c0e;
    border-left: none;
    border-right: none;
    margin: 30px;
    padding-bottom: 20px;
}
.check{
    padding : 10px 20px;
    background-color:  #682c0e;
    color: #ffffff;
}
.second{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
span{
    color: #682c0e;
}
.text{
    width: 45%;
}
.gallery{
    width: 45%;
    display: flex;
    flex-direction: row;
    height: 500px;
}
.first{
    width: 45%;
}
.image1{
    height: 45%;
    width: 90%;
    margin-left: auto;
}
.image2{
    margin-top: 3%;
    height: 50%;
    width: 100%;
}
.second1{
    width: 50%;
    margin-left: 2%;
}
.image3{
    height: 50%;
    width: 100%;
    margin-top: 5%;
}
.image4{
    margin-top: 3%;
    height: 45%;
    width: 95%;
}
.row{
    justify-content: center;
    align-items: center;
    background-color: #23120b;
    height: 500px;
}
.box{
    height: 80%;
    width: 30%;
}
.und{
    display: flex;
    flex-direction: column;
}
.und p{
    margin-top: 20px;
    text-align: left;
    color: #ffffff;
}
#meeting{
    font-size: 120px; 
    color: #c5a880;
    font-family: sans-serif;
    text-align: center;
}
.events{
    display: flex;
    flex-direction: row;
}
.array{
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-bottom: 50px;
}
.set{
    height: 95%;
    margin: 3%;
    width: 22%;
    text-align: center;
}
.footer{
    margin-top: 100px;
    height: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #682c0e;
    justify-content: center;
    align-items: center;
}
.level{
    display: flex;
    flex-direction: row;
    padding: 40px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.left, .right{
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.left{
    border-right: 2px solid #ffffff;
    margin-right: 50px;
    padding-right: 50px;
}
.social{
    width: 100%;
    height: 30px;
}
.social a{
    color: #ffffff;
    text-decoration: none;
}